@import "fonts.styl"
@import "flaticon.styl"

// @import "portafolio.styl"
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300)
@import url(http://fonts.googleapis.com/css?family=Crimson+Text)
@import url(http://fonts.googleapis.com/css?family=Overlock)
@import url(http://fonts.googleapis.com/css?family=Bitter:400,700)
Green_Aly = #00ba89
Black_Aly = #1e120d
Blue_Aly = #00b9e8
/*Background de Anuncios SecciónAzul*/
ElTiempo = #e5ddd7
Brown_Aly = #2f0000
Orange_Aly = #ffa500
Verde_D = lightgreen
Green_Mejor = #7dcd40
Yellow_Mejor = #ffc44d
Red_Mejor = #ff4842
Yellow_Aly = #dfcf6f
Yellow_Exito = #FFE900
Brown_Font = #87620a
Brown_Borderbtn = #87620a
Blue_TW = #55acee
Up_Aly = #00C600
Down_Aly = #FF0512
Neutro_Aly = #B3B3B3

/* MODULO SCREEN 160PX */

@media screen and (min-width:160px)
	html
		background black
		body
			background white
		nav.Canvas
			left 0
			// overflow hidden
			position fixed
			right 0 
			top 0
			z-index 6
		.Header
			background black
			color white
			height 30px
			line-height 30px
			padding 10px 0
			position relative	
			&-logoCon
				margin 0
				top 0
				width 200px
			&-logoTexto
				display block
				font-size 30px
				left 60px
				line-height 40px
				margin 0
				position absolute
				text-shadow 0 0 10px lightgray
				top 6px
			&-logo1
				display block
				left 5px
				margin 0
				position absolute
				top 2px
				z-index 10px
				
			&-button
				background black
				border none	
				color white
				display none
				font-size 30px
				font-weight normal
				padding 0
				position absolute
				right 5px
				top 10px
				&.is-active
					display block 
		.MainMenu
			display visible
			background black
			height auto
			left -200px
			list-style none
			margin 0
			padding 0
			position absolute
			position fixed
			top 50px
			transition .2s
			width 165px
			&.is-active
				left 0
			&-item
				-webkit-transition .2s
				height 50px
				line-height 50px
				text-align center
				text-shadow 0 0 10px Verde_D
				&:hover
					background lightgray	
			&-link
				color white
				display block
				font-size 14px
				text-decoration none
				text-transform uppercase
		section.Avatar-CE
			figure.Avatar-containerCE
				margin-bottom 0px
				margin-left auto
				margin-right auto
				width 160px
				.Avatar-img
					padding-top 37px
					width 100%
		h1.TOP
			background black
			color white
			text-align center
			font-size 100%
		section.Ranking
			background black
			.flex-container
				padding 0px
				margin 0px
				list-style none
				display -webkit-box
				display -moz-box;
				display -ms-flexbox
				display -webkit-flex
				display flex
				-webkit-flex-flow row wrap
				justify-content space-around								
				.flex-item
					background black
					padding 0px
					width 100%
					height auto
					margin-top 0px
					color: white
					font-weight bold
					.Number
						background black
						color white
						margin-top 0px
						text-align right
						font-size 100%
						margin-bottom 0px
						padding-right 20px
					.Artistas-Nombres
						background white
						color black
						margin-top 0px
						text-align center
						font-size 100%
						margin-bottom 0px
					.Album-Cover
						width 100%
					.Artista-Track
						width 100%
						margin-right auto
						margin-left auto
					.Artistas-Stats
						background Red_Mejor
						text-align right
						padding-right 30px
						font-size 100%
					.Stats
						list-style none
						width 100%
						padding 0px
						font-size 100%
						li
							margin-bottom 20px	
						.Radio	
							text-align left
							padding-left 10px
							width auto
						.Video
							text-align left
							padding-left 10px
							width auto
						.Votos
							text-align left
							padding-left 10px
							width auto
						.Estado
							text-align center
							color white
							background Up_Aly
							padding 10px
		.Footer
			text-align center
			background black
			.Footer-titulo
				color white
				margin-top 10px
				font-size 100%
			.Footer-description
				color white
				font-size 10px
				font-weight bold

/* 	MODULO SCREEN 220PX */

@media screen and (min-width:220px)
	html
		background black
		body
			background white
		h1.TOP
			background black
			color white
			text-align center
			font-size 120%
		section.Ranking
			background black
			.flex-container
				padding 0px
				margin 0px
				list-style none
				display -webkit-box
				display -moz-box;
				display -ms-flexbox
				display -webkit-flex
				display flex
				-webkit-flex-flow row wrap
				justify-content space-around								
				.flex-item
					background black
					padding 0px
					width 100%
					height auto
					margin-top 0px
					color: white
					font-weight bold
					.Number
						background black
						color white
						margin-top 0px
						text-align right
						font-size 110%
						margin-bottom 0px
					.Artistas-Nombres
						background white
						color black
						margin-top 0px
						text-align center
						font-size 104%
						margin-bottom 0px
					.Album-Cover
						width 100%
					.Artista-Track
						width 100%
						margin-right auto
						margin-left auto
					.Artistas-Stats
						background Red_Mejor
						text-align right
						padding-right 30px
						font-size 110%
					.Stats
						list-style none
						width 100%
						padding 0px
						font-size 100%
						li
							margin-bottom 20px	
						.Radio	
							text-align left
							padding-left 10px
							width auto
						.Video
							text-align left
							padding-left 10px
							width auto
						.Votos
							text-align left
							padding-left 10px
							width auto
						.Estado
							text-align center
							color white
							background Up_Aly
							padding 10px
		.Footer
			text-align center
			background black
			.Footer-titulo
				color white
				margin-top 10px
				font-size 110%
			.Footer-description
				color white
				font-size 14px
				font-weight bold
				
/* 	MODULO SCREEN 320PX */

@media screen and (min-width:320px)
	html
		background black
		body
			background white
		.MainMenu
			display visible
			background black
			height auto
			left -200px
			list-style none
			margin 0
			padding 0
			position absolute
			position fixed
			top 50px
			transition .2s
			width 200px
			&.is-active
				left 0
			&-item
				-webkit-transition .2s
				height 50px
				line-height 50px
				text-align center
				text-shadow 0 0 10px Verde_D
				&:hover
					background lightgray	
			&-link
				color white
				display block
				font-size 14px
				text-decoration none
				text-transform uppercase
		section.Avatar-CE
			figure.Avatar-containerCE
				margin-bottom 0px
				margin-left auto
				margin-right auto
				width 200px
				.Avatar-img
					padding-top 37px
					width 100%
		h1.TOP
			background black
			color white
			text-align center
			font-size 180%
			width 100%
		section.Ranking
			background black
			margin-bottom 20px
			.flex-container
				padding 0px
				margin 0px
				list-style none
				display -webkit-box
				display -moz-box;
				display -ms-flexbox
				display -webkit-flex
				display flex
				-webkit-flex-flow row wrap
				justify-content space-around								
				.flex-item
					background black
					padding 0px
					width 320px
					height auto
					margin-top 0px
					color: white
					font-weight bold
					margin-right auto
					margin-left auto
					.Number
						background black
						color white
						margin-top 0px
						text-align right
						font-size 180%
						margin-bottom 0px
					.Artistas-Nombres
						background white
						color black
						margin-top 0px
						text-align center
						font-size 140%
						margin-bottom 0px
					.Album-Cover
						width 320px
					.Artista-Track
						width 320px
						margin-right auto
						margin-left auto
					.Artistas-Stats
						background Red_Mejor
						text-align right
						padding-right 30px
						font-size 160%
						
					.Stats
						list-style none
						width 320px
						padding 0px
						margin-left auto
						margin-right auto
						li
							width 100%
							margin-bottom 20px	
						.Radio
							font-size 16px
							font-weight bold	
							text-align left
							padding-left 10px
							width auto
						.Video
							font-size 16px
							font-weight bold
							text-align left
							padding-left 10px
							width auto
						.Votos
							font-size 16px
							font-weight bold
							text-align left
							padding-left 10px
							width auto
						.Estado
							font-size 16px
							font-weight bold
							text-align center
							color white
							background Up_Aly
							padding 10px
							width auto
		.Footer
			text-align center
			background black
			.Footer-titulo
				color white
				margin-top 10px
				font-size 150%
			.Footer-description
				color white
				font-size 16px
				font-weight bold
				
/* 	MODULO SCREEN 320PX */

@media screen and (min-width:640px)
	html
		background black
		body
			background white
		.MainMenu
			display visible
			background black
			height auto
			left -200px
			list-style none
			margin 0
			padding 0
			position absolute
			position fixed
			top 50px
			transition .2s
			width 200px
			&.is-active
				left 0
			&-item
				-webkit-transition .2s
				height 50px
				line-height 50px
				text-align center
				text-shadow 0 0 10px Verde_D
				&:hover
					background lightgray	
			&-link
				color white
				display block
				font-size 14px
				text-decoration none
				text-transform uppercase
		section.Avatar-CE
			figure.Avatar-containerCE
				margin-bottom 0px
				margin-left auto
				margin-right auto
				width 250px
				.Avatar-img
					padding-top 37px
					width 100%								