@import "fonts.styl"
@import "flaticon.styl"
// @import "portafolio.styl"
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300)
@import url(http://fonts.googleapis.com/css?family=Crimson+Text)
@import url(http://fonts.googleapis.com/css?family=Overlock)
@import url(http://fonts.googleapis.com/css?family=Bitter:400,700)
Green_Aly = #00ba89
Black_Aly = #1e120d
Blue_Aly = #00b9e8
/*Background de Anuncios SecciónAzul*/
ElTiempo = #e5ddd7
Brown_Aly = #2f0000
Orange_Aly = #ffa500
Verde_D = lightgreen
Green_Mejor = #7dcd40
Yellow_Mejor = #ffc44d
Red_Mejor = #ff4842
Yellow_Aly = #dfcf6f
Yellow_Exito = #FFE900
Brown_Font = #87620a
Brown_Borderbtn = #87620a
Blue_TW = #55acee
Up_Aly = #00C600
Down_Aly = #FF0512
Neutro_Aly = #B3B3B3
/* MODULO SCREEN 160PX */

@media screen and (min-width:160px)
	html
		background black
		body
			background white
		nav.Canvas
			left 0
			// overflow hidden
			position fixed
			right 0 
			top 0
			z-index 6
		.Header
			background black
			color white
			height 30px
			line-height 30px
			padding 10px 0
			position relative	
			&-logoCon
				margin 0
				top 0
				width 200px
			&-logoTexto
				display block
				font-size 30px
				left 60px
				line-height 40px
				margin 0
				position absolute
				text-shadow 0 0 10px lightgray
				top 6px
			&-logo1
				display block
				left 5px
				margin 0
				position absolute
				top 2px
				z-index 10px
				
			&-button
				background black
				border none	
				color white
				display none
				font-size 30px
				font-weight normal
				padding 0
				position absolute
				right 5px
				top 10px
				&.is-active
					display block 
		.MainMenu
			display visible
			background black
			height auto
			left -200px
			list-style none
			margin 0
			padding 0
			position absolute
			position fixed
			top 50px
			transition .2s
			width 165px
			&.is-active
				left 0
			&-item
				-webkit-transition .2s
				height 50px
				line-height 50px
				text-align center
				text-shadow 0 0 10px Verde_D
				&:hover
					background lightgray	
			&-link
				color white
				display block
				font-size 14px
				text-decoration none
				text-transform uppercase
		section.Avatar-CE
			figure.Avatar-containerCE
				margin-bottom 0px
				margin-left auto
				margin-right auto
				width 160px
				.Avatar-img
					padding-top 37px
					width 100%
		section.Eslogan
			.Eslogan-title
				background Green_Aly
				color white
				font-family Oswald
				font-weight 700
				margin-top 0px
				padding-right 20px
				text-align right
			p.Eslogan-text
				font-family Bitter 
				font-size 18px
				font-weight 400
				text-align center
			p.Eslogan a
				text-decoration none	
		section.Anuncio
			.Anuncio-title
				background Blue_TW
				color white
				font-family Oswald
				font-weight 700
				padding-right 20px
				text-align right
			.Anuncio-texto
				font-family Bitter
				font-size 18px
				margin-left auto
				margin-right auto
				width 90%
			.Anuncio-texto a
				color Blue_Aly
				text-decoration none
		section.Publicidad
			text-align center
			.Publicidad-title
				background Red_Mejor
				color white
				font-family Oswald
				font-weight 700
				padding-right 20px
				text-align right
				font-size 1.5em
			article.Publicidad-arti
				background Yellow_Exito
				display inline-block
				width 160px
				margin-bottom 10px
				.Publicidad-itemTitle
					margin-top 0px
					background Red_Mejor
					color Yellow_Exito
					text-align center
					font-size 1.5em
				img
					width 90%
					margin-left auto
					margin-right auto
				a 
					text-decoration none
					color black
					font-weight bold
		footer.Footer
			font-family overlock
			text-align center
			background black
			.Footer-titulo
				background black
				color white
			.Footer-description
				color white		
				font-size 14px
				
/* #TOPVALLENATO */

		h1.TOP
			background black
			color white
			font-family Oswald
			font-size 1.5em
			text-align center
		section.Ranking
			width 100%
			overflow hidden
			display inline-block
			text-align center
			margin-left auto
			margin-right auto
			h2.Number
				background white
				float left
				margin-top 0px
				text-align right
				width 100%
			article.Artista
				background lightgray
				width 100%
				overflow hidden
				img.Album-Cover
					width 160px
				audio.Artista-Track
					width 100%
					background black
					margin 0px
				iframe.ytplayer
					width 160px
					height auto
				h3.Artistas-Nombres
					font-family Oswald				
					margin 0px
					text-align right
					padding-right 20px
					background black
					color white
				figure.Cantante
					width 160px
					margin 0px
					img.Cantante-Avatar
						width 40%
						float left
					figcaption.Cantante-Nombre
						a
							text-decoration none
							font-family Oswald
							width 100%
							color black
						p.Cantante-Cuenta
							font-size 50%
							color black
				p.Estado
					background Neutro_Aly
					font-family Oswald
					height 100px
					margin 0px
					width 160px
					line-height 90px
					font-size 24px			
/* MODULO SCREEN 220PX */

@media screen and (min-width:220px)
	html
		background black
		body
			background white
		nav.Canvas
			left 0
			// overflow hidden
			position fixed
			right 0 
			top 0
			z-index 6
		.Header
			background black
			color white
			height 30px
			line-height 30px
			padding 10px 0
			position relative	
			&-logoCon
				margin 0
				top 0
				width 200px
			&-logoTexto
				display block
				font-size 30px
				left 60px
				line-height 40px
				margin 0
				position absolute
				text-shadow 0 0 10px lightgray
				top 6px
			&-logo1
				display block
				left 5px
				margin 0
				position absolute
				top 2px
				z-index 10px
			&-button
				background black
				border none	
				color white
				display none
				font-size 30px
				font-weight normal
				padding 0
				position absolute
				right 5px
				top 10px
				&.is-active
					display block 
		.MainMenu
			display visible
			background black
			height auto
			left -200px
			list-style none
			margin 0
			padding 0
			position absolute
			position fixed
			top 50px
			transition .2s
			width 200px
			&.is-active
				left 0
			&-item
				-webkit-transition .2s
				height 50px
				line-height 50px
				text-align center
				text-shadow 0 0 10px Verde_D
				&:hover
					background lightgray	
			&-link
				color white
				display block
				font-size 14px
				text-decoration none
				text-transform uppercase
		section.Avatar-CE
			figure.Avatar-containerCE
				margin-bottom 0px
				margin-left auto
				margin-right auto
				width 160px
				.Avatar-img
					padding-top 37px
					width 100%
		section.Eslogan
			.Eslogan-title
				background Green_Aly
				color white
				font-family Oswald
				font-weight 700
				margin-top 0px
				padding-right 20px
				text-align right
			p.Eslogan-text
				font-family Bitter 
				font-size 18px
				font-weight 400
				text-align center
			p.Eslogan a
				text-decoration none	
		section.Anuncio
			.Anuncio-title
				background Blue_TW
				color white
				font-family Oswald
				font-weight 700
				padding-right 20px
				text-align right
			.Anuncio-texto
				font-family Bitter
				font-size 18px
				margin-left auto
				margin-right auto
				width 90%
			.Anuncio-texto a
				color Blue_Aly
				text-decoration none
		section.Publicidad
			text-align center
			.Publicidad-title
				background Red_Mejor
				color white
				font-family Oswald
				font-weight 700
				padding-right 20px
				text-align right
			article.Publicidad-arti
				background Yellow_Exito
				display inline-block
				width 200px
				margin-bottom 10px
				.Publicidad-itemTitle
					margin-top 0px
					background Red_Mejor
					color Yellow_Exito
					text-align center
				img
					width 90%
					margin-left auto
					margin-right auto
				a 
					text-decoration none
					color black
					font-weight bold
		footer.Footer
			font-family overlock
			text-align center
			background black
			.Footer-titulo
				background black
				color white
			.Footer-description
				color white		
				font-size 14px
/* #TOPVALLENATO */

		h1.TOP
			background black
			color white
			font-family Oswald
			font-size 1.5em
			text-align center
		section.Ranking
			width 100%
			overflow hidden
			display inline-block
			text-align center
			margin-left auto
			margin-right auto
			h2.Number
				background white
				float left
				margin-top 0px
				text-align right
				width 100%
			article.Artista
				background lightgray
				width 100%
				overflow hidden
				img.Album-Cover
					width 160px
				audio.Artista-Track
					width 100%
					background black
					margin 0px
				iframe.ytplayer
					width 160px
					height auto
				h3.Artistas-Nombres
					font-family Oswald				
					margin 0px
					text-align right
					padding-right 20px
					background black
					color white
				figure.Cantante
					width 160px
					margin 0px
					img.Cantante-Avatar
						width 40%
						float left
					figcaption.Cantante-Nombre
						a
							text-decoration none
							font-family Oswald
							width 100%
							color black
						p.Cantante-Cuenta
							font-size 50%
							color black
				p.Estado
					background Neutro_Aly
					font-family Oswald
					height 100px
					margin 0px
					width 160px
					line-height 90px
					font-size 24px				
/* MODULO SCREEN 320PX */

@media screen and (min-width:320px)
	html
		background black
		body
			background white
		nav.Canvas
			left 0
			// overflow hidden
			position fixed
			right 0 
			top 0
			z-index 6
		.Header
			background black
			color white
			height 30px
			line-height 30px
			padding 10px 0
			position relative	
			&-logoCon
				margin 0
				top 0
				width 200px
			&-logoTexto
				display block
				font-size 30px
				left 60px
				line-height 40px
				margin 0
				position absolute
				text-shadow 0 0 10px lightgray
				top 6px
			&-logo1
				display block
				left 5px
				margin 0
				position absolute
				top 2px
				z-index 10px
			&-button
				background black
				border none	
				color white
				display none
				font-size 30px
				font-weight normal
				padding 0
				position absolute
				right 5px
				top 10px
				&.is-active
					display block 
		.MainMenu
			display visible
			background black
			height auto
			left -200px
			list-style none
			margin 0
			padding 0
			position absolute
			position fixed
			top 50px
			transition .2s
			width 200px
			&.is-active
				left 0
			&-item
				-webkit-transition .2s
				height 50px
				line-height 50px
				text-align center
				text-shadow 0 0 10px Verde_D
				&:hover
					background lightgray	
			&-link
				color white
				display block
				font-size 14px
				text-decoration none
				text-transform uppercase
		section.Avatar-CE
			figure.Avatar-containerCE
				margin-bottom 0px
				margin-left auto
				margin-right auto
				width 200px
				.Avatar-img
					padding-top 37px
					width 100%
		section.Eslogan
			.Eslogan-title
				background Green_Aly
				color white
				font-family Oswald
				font-weight 700
				margin-top 0px
				padding-right 20px
				text-align right
				font-size 30px
			p.Eslogan-text
				font-family Bitter 
				font-size 28px
				font-weight 400
				text-align center
			p.Eslogan a
				text-decoration none	
		section.Anuncio
			.Anuncio-title
				background Blue_TW
				color white
				font-family Oswald
				font-weight 700
				padding-right 20px
				text-align right
				font-size 30px
			.Anuncio-texto
				font-family Bitter
				font-size 28px
				margin-left auto
				margin-right auto
				width 90%
			.Anuncio-texto a
				color Blue_Aly
				text-decoration none
		section.Publicidad
			text-align center
			.Publicidad-title
				background Red_Mejor
				color white
				font-family Oswald
				font-weight 700
				padding-right 20px
				text-align right
				font-size 30px
			article.Publicidad-arti
				background Yellow_Exito
				display inline-block
				width 300px
				margin-bottom 10px
				.Publicidad-itemTitle
					font-size 30px
					margin-top 0px
					background Red_Mejor
					color Yellow_Exito
					text-align center
				img
					width 90%
					margin-left auto
					margin-right auto
				a 
					text-decoration none
					color black
					font-weight bold
		footer.Footer
			font-family overlock
			text-align center
			background black
			.Footer-titulo
				background black
				color white
				font-size 30px
			.Footer-description
				color white		
				font-size 28px