@font-face {
	font-family: "Flaticon";
	src: url("../flaticon.eot");
	src: url("../flaticon.eot#iefix") format("embedded-opentype"),
	url("../flaticon.woff") format("woff"),
	url("../flaticon.ttf") format("truetype"),
	url("../flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-Restroom:before {
	content: "\e000";
}
.flaticon-RoomService:before {
	content: "\e001";
}
.flaticon-Closet:before {
	content: "\e002";
}
.flaticon-Date:before {
	content: "\e003";
}
.flaticon-Cocina:before {
	content: "\e004";
}
.flaticon-Comedor:before {
	content: "\e005";
}
.flaticon-Chimenea:before {
	content: "\e006";
}
.flaticon-Parking:before {
	content: "\e007";
}
.flaticon-Sala:before {
	content: "\e008";
}
.flaticon-Room:before {
	content: "\e009";
}
.flaticon-Estudio:before {
	content: "\e00a";
}
.flaticon-Comunal:before {
	content: "\e00b";
}
.flaticon-Checklist:before {
	content: "\e00c";
}
