@font-face {
	font-family: 'icomoon';
	font-family: 'Oswald';
	src:url('../fonts/icomoon.eot?-lu1qg2');
	src:url('../fonts/icomoon.eot?#iefix-lu1qg2') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-lu1qg2') format('woff'),
		url('../fonts/icomoon.ttf?-lu1qg2') format('truetype'),
		url('../fonts/icomoon.svg?-lu1qg2#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	font-family: 'Oswald';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-Audifonos:before {
	content: "\e634";
}

.icon-PlaySong:before {
	content: "\e636";
}

.icon-Radio:before {
	content: "\e632";
}

.icon-Vídeo:before {
	content: "\e633";
}

.icon-Stats:before {
	content: "\e635";
}

.icon-lyrics:before {
	content: "\e638";
}

.icon-Adelante:before {
	content: "\e629";
}

.icon-Aseo:before {
	content: "\e62a";
}

.icon-Atras:before {
	content: "\e62b";
}

.icon-Estrato:before {
	content: "\e62c";
}

.icon-Info2:before {
	content: "\e62d";
}

.icon-Metros:before {
	content: "\e62e";
}

.icon-Pool:before {
	content: "\e62f";
}

.icon-Reception:before {
	content: "\e630";
}

.icon-Registro:before {
	content: "\e631";
}

.icon-Admon:before {
	content: "\e628";
}

.icon-Restroom:before {
	content: "\e627";
}

.icon-Ascensor:before {
	content: "\e619";
}

.icon-Checklist:before {
	content: "\e61b";
}

.icon-Chimenea:before {
	content: "\e61c";
}

.icon-Closet:before {
	content: "\e61d";
}

.icon-Cocina:before {
	content: "\e61e";
}

.icon-Comedor:before {
	content: "\e61f";
}

.icon-Comunal:before {
	content: "\e620";
}

.icon-Date:before {
	content: "\e621";
}

.icon-Estudio:before {
	content: "\e622";
}

.icon-Parking:before {
	content: "\e623";
}

.icon-Room:before {
	content: "\e624";
}

.icon-RoomService:before {
	content: "\e625";
}

.icon-Sala:before {
	content: "\e626";
}

.icon-camera:before {
	content: "\e60e";
}

.icon-home:before {
	content: "\e60d";
}

.icon-Video:before {
	content: "\e60f";
}

.icon-Anuncios:before {
	content: "\e608";
}

.icon-Moneda:before {
	content: "\e610";
}

.icon-Tarjeta:before {
	content: "\e611";
}

.icon-Tel:before {
	content: "\e60a";
}

.icon-Mail:before {
	content: "\e60b";
}

.icon-location:before {
	content: "\e612";
}

.icon-Horario:before {
	content: "\e60c";
}

.icon-Perfil:before {
	content: "\e600";
}

.icon-Alianzas:before {
	content: "\e601";
}

.icon-Fundadores:before {
	content: "\e604";
}

.icon-Trabajos:before {
	content: "\e605";
}

.icon-Info:before {
	content: "\e613";
}

.icon-Menu:before {
	content: "\e602";
}

.icon-link:before {
	content: "\e614";
}

.icon-ojo:before {
	content: "\e615";
}

.icon-star1:before {
	content: "\e616";
}

.icon-star2:before {
	content: "\e617";
}

.icon-star3:before {
	content: "\e618";
}

.icon-Contacto:before {
	content: "\e606";
}

.icon-Facebook:before {
	content: "\e607";
}

.icon-Twitter:before {
	content: "\e609";
}

.icon-Noticias:before {
	content: "\e603";
}

.icon-home2:before {
	content: "\e61a";
}
