footer,
header {
  background: #b2b2b2;
  overflow: hidden;
  padding: 10px;
  text-align: center;
}
footer {
  line-height: 25px;
}
h1 {
  margin: 0;
}
header {
  line-height: 75px;
}
#wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row;
}
#wrapper aside,
#wrapper section {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-grow: 1;
}
#wrapper aside article,
#wrapper section article,
#wrapper aside div,
#wrapper section div {
  color: #fdfdfd;
  background: #666;
  flex-grow: 1;
  margin: 10px;
  padding: 5px;
}
#wrapper aside article h2,
#wrapper section article h2,
#wrapper aside div h2,
#wrapper section div h2 {
  margin: 0;
}
#wrapper aside article p,
#wrapper section article p,
#wrapper aside div p,
#wrapper section div p {
  margin: 5px 0;
}
#wrapper aside {
  flex-flow: column;
  background: #ccc;
  width: 25%;
}
#wrapper section {
  flex-flow: row;
  width: 75%;
}
@media screen and (max-width: 1000px) and (min-width: 640px) {
  #wrapper section {
    flex-flow: column;
  }
}
@media screen and (max-width: 640px) {
  #wrapper {
    flex-flow: column;
  }
  #wrapper aside {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
    width: auto;
  }
  #wrapper section {
    flex-flow: column;
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    width: auto;
  }
}
@media screen and (min-width: 220px) {
  html {
    background: #000;
  }
  html body {
    background: #fff;
  }
  html nav.Canvas {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 6;
  }
  html .Header {
    background: #000;
    color: #fff;
    height: 30px;
    line-height: 30px;
    padding: 10px 0;
    position: relative;
  }
  html .Header-logoCon {
    margin: 0;
    top: 0;
    width: 200px;
  }
  html .Header-logoTexto {
    display: block;
    font-size: 30px;
    left: 60px;
    line-height: 40px;
    margin: 0;
    position: absolute;
    text-shadow: 0 0 10px #d3d3d3;
    top: 6px;
  }
  html .Header-logo1 {
    display: block;
    left: 5px;
    margin: 0;
    position: absolute;
    top: 2px;
    z-index: 10px;
  }
  html .Header-button {
    background: #000;
    border: none;
    color: #fff;
    display: none;
    font-size: 30px;
    font-weight: normal;
    padding: 0;
    position: absolute;
    right: 5px;
    top: 10px;
  }
  html .Header-button.is-active {
    display: block;
  }
  html .MainMenu {
    display: visible;
    background: #000;
    height: auto;
    left: -200px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    position: fixed;
    top: 50px;
    transition: 0.2s;
    width: 165px;
  }
  html .MainMenu.is-active {
    left: 0;
  }
  html .MainMenu-item {
    -webkit-transition: 0.2s;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-shadow: 0 0 10px Verde_D;
  }
  html .MainMenu-item:hover {
    background: #d3d3d3;
  }
  html .MainMenu-link {
    color: #fff;
    display: block;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
  }
  html section.Avatar-CE figure.Avatar-containerCE {
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 160px;
  }
  html section.Avatar-CE figure.Avatar-containerCE .Avatar-img {
    padding-top: 37px;
    width: 100%;
  }
  html section.Eslogan .Eslogan-title {
    background: Green_Aly;
    color: #fff;
    font-family: Oswald;
    font-weight: 700;
    margin-top: 0px;
    padding-right: 20px;
    text-align: right;
  }
  html section.Eslogan p.Eslogan-text {
    font-family: Bitter;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
  }
  html section.Eslogan p.Eslogan a {
    text-decoration: none;
  }
  html section.Anuncio .Anuncio-title {
    background: Blue_TW;
    color: #fff;
    font-family: Oswald;
    font-weight: 700;
    padding-right: 20px;
    text-align: right;
  }
  html section.Anuncio .Anuncio-texto {
    font-family: Bitter;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  html section.Anuncio .Anuncio-texto a {
    color: Blue_Aly;
    text-decoration: none;
  }
  html section.Publicidad {
    text-align: center;
  }
  html section.Publicidad .Publicidad-title {
    background: Red_Mejor;
    color: #fff;
    font-family: Oswald;
    font-weight: 700;
    padding-right: 20px;
    text-align: right;
    font-size: 1.5em;
  }
  html section.Publicidad article.Publicidad-arti {
    background: Yellow_Exito;
    display: inline-block;
    width: 160px;
    margin-bottom: 10px;
  }
  html section.Publicidad article.Publicidad-arti .Publicidad-itemTitle {
    margin-top: 0px;
    background: Red_Mejor;
    color: Yellow_Exito;
    text-align: center;
    font-size: 1.5em;
  }
  html section.Publicidad article.Publicidad-arti img {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  html section.Publicidad article.Publicidad-arti a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }
  html footer.Footer {
    font-family: overlock;
    text-align: center;
    background: #000;
  }
  html footer.Footer .Footer-titulo {
    background: #000;
    color: #fff;
  }
  html footer.Footer .Footer-description {
    color: #fff;
    font-size: 14px;
  }
}
/* #TOPVALLENATO */
h1.TOP {
  background: #000;
  color: #fff;
  font-family: Oswald;
  font-size: 1.8em;
  text-align: center;
}
section.Ranking {
  width: 100%;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
section.Ranking h2.Number {
  background: #fff;
  float: left;
  margin-top: 0px;
  text-align: right;
  width: 100%;
  font-size: 1.8em;
}
section.Ranking article.Artista {
  background: #d3d3d3;
  width: 100%;
  overflow: hidden;
}
section.Ranking article.Artista img.Album-Cover {
  width: 100%;
}
section.Ranking article.Artista audio.Artista-Track {
  width: 100%;
  background: #000;
  margin: 0px;
}
section.Ranking article.Artista h3.Artistas-Nombres {
  font-family: Oswald;
  margin: 0px;
  text-align: right;
  padding-right: 20px;
  background: #000;
  color: #fff;
  font-size: 20px;
}
section.Ranking article.Artista ul.Stats {
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  padding: 0px;
  margin: 0px;
  font-size: 20px;
}
section.Ranking article.Artista ul.Stats li {
  font-family: Oswald;
  list-style: none;
}
section.Ranking article.Artista ul.Stats .Radio {
  background: #d3d3d3;
  color: Black_Aly;
}
section.Ranking article.Artista ul.Stats .Video {
  background: #d3d3d3;
  color: Black_Aly;
}
section.Ranking article.Artista ul.Stats .Votos {
  background: #d3d3d3;
  color: Black_Aly;
}
section.Ranking article.Artista ul.Stats .Estado {
  background: Up_Aly;
  border-radius: 3px;
}
